<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <joint name="imu_joint" type="fixed">
        <parent link="chassis" />
        <child link="imu_frame" />
        <origin xyz="0 0 0.1" rpy="0 0 0" />
    </joint>
    
    <link name="imu_frame">
        <visual>
            <geometry>
                <box size="0.01 0.01 0.001" />
            </geometry>
            <material name="blue" />
        </visual>
        <collision>
            <geometry>
                <box size="0.01 0.01 0.001" />
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.01" x="0.01" y="0.01" z="0.001">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:inertial_box>
    </link>
    
    <gazebo reference="imu_frame">
        <sensor name="imu" type="imu">
            <pose>0 0 0 0 0 0</pose>
            <visualize>false</visualize>
            <update_rate>100</update_rate>
            <imu>
                <noise>
                    <orientation>0.01</orientation>
                    <angular_velocity>0.1</angular_velocity>
                    <linear_acceleration>0.1</linear_acceleration>
                </noise>
            </imu>
            <plugin name="imu_controller" filename="libgazebo_ros_imu.so">
                <ros>
                    <argument>~/out:=imu_data</argument>
                </ros>
                <output_type>sensor_msgs/Imu</output_type>
                <frame_name>imu_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
</robot>
